* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth; 
  }

  body {
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}

.nav {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-list {
    font-size: 20px;
    padding: 0px 100px 0px 0px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(208, 73, 73);
    height: 90px;
    margin-top: 0;
    flex-wrap: wrap;
}
.nav-item {
    display: flex;
    color: white;
    list-style-type: none;
    align-items: center;
}

a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
    transition: .5s
}

.circulfoto {
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: rgb(208, 73, 73);
    padding: 1px;
    border-radius: 50%;
    border:  rgb(175, 30, 30) 2px solid;
    margin: 0 50px 0 50px;
   
}

.circulfoto img {
    width: 100%;
    border-radius: 50%;
}

.name-proff {
    margin: 0 50px 0 50px;
}

.famili {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 50px;
    margin: 0;
}

.name {
    font-family: "Poppins", Arial, sans-serif;
    margin: 30px 0 0 0;
    font-size: 50px;
}

.proffi {
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-size: 20px;
    font-weight: 600;
    
}

.info {
    margin: 20px 0;
    width: 50%;
    padding: 0 100px 0 100px;
}

.section-item {
    position: relative;
    padding-left: 20px;
  }

.section-item::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 3px;
    height: 3px; 
    border:  rgb(175, 30, 30) 2px solid;
    border-radius: 50%;
    margin-top: 4px;
  }

.pagedown {
    background-color: rgb(208, 73, 73);
    height: 115px;
    display: flex;
    justify-content: space-between;
    min-height: 10vh;
    margin: 100px 0 0 0;
    padding: 10px 100px 0 100px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
}

.github {
    margin-top: 5px;
    color: white;
}

.footer-logo {
    display: flex;
    align-self: center;
    justify-items: center;
    padding: 0;
}

.footer-img {
    max-width: 110px;
    opacity: .8;
    padding: 0;
}

.footer-RSS {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .info{
      width: 100%;
    }
  }