html {
    scroll-behavior: smooth; 
    font-family: "Poppins", Arial, sans-serif;
    line-height: 1.5
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

.conteiner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

p {
    margin: 0;
}

li {
    list-style-type: none;
}

.nav {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-list {
    font-size: 20px;
    padding: 0px 100px 0px 0px;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(208, 73, 73);
    height: 90px;
    margin-top: 0;
    flex-wrap: wrap;
}
.nav-item {
    display: flex;
    color: white;
    list-style-type: none;
    align-items: center;
}

a:hover {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

.ava-name {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.circulfoto {
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background: rgb(208, 73, 73);
    padding: 1px;
    border-radius: 50%;
    border:  rgb(175, 30, 30) 2px solid;
    margin: 0 50px 0 50px;
   
}

.circulfoto img {
    width: 100%;
    border-radius: 50%;
}

.name-proff {
    margin: 0 50px 0 50px;
}

.famili {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 50px;
    margin: 0;
}

.name {
    font-family: "Poppins", Arial, sans-serif;
    margin: 30px 0 0 0;
    font-size: 50px;
}

.proffi {
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-size: 20px;
    font-weight: 600;
    
}
.main-conreiner {
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px;
    width: 500px;
    padding: 0 100px 0 100px;
}

.section-item {
    position: relative;
    padding-left: 20px;
  }

.section-item::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 3px;
    height: 3px; 
    border:  rgb(175, 30, 30) 2px solid;
    border-radius: 50%;
    margin-top: 4px;
  }

footer {
    background-color: rgb(208, 73, 73);
    height: 150px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    min-height: 10vh;
    margin: 50px 0 0 0;
    padding: 0 100px 0 100px;
    font-size: 18px;
    font-weight: 600;
}

.github {
    margin-top: 20px;
    color: white;
}

.footer-logo {
    max-width: 145px;
    opacity: .8;
}

.footer-RSS {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }